<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="letsplay">Let's Play</label>
          <input type="text" id="letsplay" class="form-control" />
        </div>
        <div class="form-group col-md-6">
          <label for="where">Where</label>
          <select id="inputCity" class="form-control">
            <option selected>Choose...</option>
            <option>New Britain</option>
          </select>
        </div>
      </div>


      <div> 

        <h6>New Britain</h6> - <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore dignissimos incidunt tempore ullam sequi dolorem accusamus. Doloremque aut recusandae quos commodi harum quo quisquam quod, sit soluta provident. Dolorum, ex!</p>

      </div>

    </form>
  </div>
</div>
