<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="letsplay">Let's Play</label>
          <input type="text" id="letsplay" class="form-control" />
        </div>
        <div class="class-sm-2 form-group">
          <label for="where"></label>
          <input type="text" id="where" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-sucess" type="submit">Post</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primiary" type="submit">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
