<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="letsplay">Let's Play</label>
          <input type="text" id="letsplay" class="form-control" />
        </div>
        <div class="form-group col-md-6">
          <label for="where">Where</label>
          <select id="inputCity" class="form-control">
            <option selected>Choose...</option>
            <option>New Britain</option>
          </select>
        </div>
      </div>

      <div class="col-xs-12">
        <button class="btn btn-success" type="submit">Post</button>
        <button class="btn btn-danger" type="button">Delete</button>
        <button class="btn btn-primiary" type="submit">Clear</button>
      </div>
    </form>
  </div>
</div>
